/* Body */
a{
    text-decoration: none;
    color: black;
}

.calendar{
    background-color: rgb(201, 201, 201);
    margin: 50px auto;
    padding: 30px 50px;
}

table{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.cal_header{
    justify-content: center;
    align-items: center;
    height: 100px;
}

tr{
    display: flex;
    align-items: stretch;
}

td{
    /* background-color: aquamarine; */
    height: 80px;
    width: 100%;
}

.week_name_row{
    height: 40px;
}

td a{
    margin: 0 auto;
}

.highlight{
    font-weight: bold;
}

/* Footer */
hr{
    margin: 0 auto;
}
.footer_contents{
    display: flex;
    justify-content: center;
}